pretrained/
work_dirs/
build 
__pycache__
*/__pycache__
*/*/__pycache__
eggs/
weights/
part_eval_log/
.eggs/
*.egg-info/
*.egg
dist
develop-eggs/
build/
*.pth
*.pkl
*.pk 
*.zip
*.out
scripts/*.sh
.vscode
*.pt
*.npy
*.txt