pretrained/
work_dirs/
build 
__pycache__/
**/__pycache__/
eggs/
weights/
part_eval_log/
.eggs/
# *.egg-info/
*.egg
**/*.egg-info/
# python/**/*.egg-info/
dist
develop-eggs/
build/
*.pth
*.pkl
*.pk 
*.zip
*.out
scripts/*.sh
.vscode
*.pt
*.npy
*.txt